*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    color: #333;
    &:hover{
        text-decoration: none;
        color: #333;
    }
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}
button{
    outline: none !important;
}