/*
================================================================================
                                TEAM SECTION
================================================================================
*/


.team{
    &-membar-boxes{
        margin-top: 60px;
    }
    
    // team membar box =============================
    &-membar-box{
        margin-top: 20px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 25px rgba(0,0,0,0.08);
        &:hover{
            .social-icons{
                 transform: translateY(0);
            }
        }
        &-desc{
            border-bottom: 2px solid red;
            height: 80px;
            text-align: center;
            h5{
                font-weight: 600;
                margin-top: 20px;
            }
            p{
                color: #777;
                font-size: 15px;
            }
            
        }
        // social icons ==========================
        .social-icons{
            transition: .5s;
            transform: translateY(80px);
            height: 80px;
            position: absolute;
            z-index: 4;
            bottom: 10px;
            left: 0;
            display: table;
            background-color: #fff;
            width: 100%;
            ul{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                li{
                    display: inline-block;
                    a{
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        display: block;
                        text-align: center;
                        background-color: #fff;
                        border: 1px solid #EE3158;
                        i{
                            transition: .5s;
                            display: block;
                            text-align: center;
                            color: #EE3158;
                            line-height: 40px;
                            font-size: 25px;
                            &:hover{
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
            }
        }
    }
}